.banner {
  font-weight: bold;
  color: brown;
  background-image: url(cl_image_tag("felix-mooneeram-evlkOfkQ5rE-unsplash_a7h2lt"));
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
