.cards {
   .col-4 {
    display: flex;
    flex-grow: 1;
    .card {
      flex-grow: 1;
      display: block;
      justify-content: space-between;
      flex-direction: column;
      .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:Arial, Helvetica, sans-serif;
        text-size-adjust: auto;
        color:rgb(205, 5, 5);
      }
    }
  }
}


.card-img {
  filter: grayscale(100%)
}
